pageId: about
title: About
permalink: :pageId/
---
<h2>{{ this.title }}</h2>
<p>Sure, let the little fruit do it. HUZZAH! Taste the happy, Michael. Taste it. It tastes kind of like sad. Ah, it is a rock, though. Should beat everything. Gob: There's not a lot of logic to it. If you're suggesting I play favorites, you're wrong. I love all of my children equally. [earlier] I don't care for Gob. I've been in the film business for a while but I just can't seem to get one in the can. With spicy club sauce. WHY was this show cancelled? I mean, COME ON.</p>
