pageId: index
featuredImage: luggage.jpg
layout: no-header.twig
providers:
  upcoming:
    provider: EventsCollection
    directory: entries/events
    filter: upcoming
    sort: asc
    limit: 1
---
{# This is such a fucking hack. I Phrozn won't allow twig layout includes from this scope (hence, the redundant navigation) #}
{# Also, provider data is overridden when rendering outer layouts, so it's not possible to do anything interesting with parent layouts. #}
<section class="header bg-cover" style="background-image:url({{['', this.imagepath, this.featuredImage]|join(this.path_delimiter)}});">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <a href="/" title="IE Drupal">
          <img id="logo" src="/media/images/druplicon.png" alt="IE Drupal" />
        </a>
      </li>
      <li class="toggle-topbar menu-icon"><a href="index.html#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul id="menu-navigation-menu" class="right">
        <li><a href="/events">Events</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/venue">Venue</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </section>
  </nav>

  {% if this.providers.upcoming %}
    <h1>{{ this.providers.upcoming.0.title }}<h1>
  {% else %}
  <h1>Upcoming Event!!</h1>
  {% endif %}
</section>


<section class="features">
  <div class="feature-item odd row">
    <div class="medium-6 columns">
      <img class="image" src="http://farm9.staticflickr.com/8259/8661409619_17def8be41.jpg" />
    </div>
    <div class="medium-6 columns">
      <h3>Welcome to Inland Empire Drupal!</h3>
      <div class="text">
        Hey, look at that – you're mean sober, too. I just don't want him to point out my cracker ass in front of Ann.

				Dad would stage elaborate situations using a one-armed man to teach us lessons. I'll sacrifice anything for my children. Maybe it was the other George Michael. You know, the singer-songwriter. No. I was ashamed to be _seen_ with you. I like being with you. I call it Tricks –- wait for it – Around The Office.
      </div>
    </div>
  </div>

  <div class="feature-item even row">
    <div class="medium-6 push-6 columns">
      <img class="image" src="http://farm8.staticflickr.com/7258/7609107380_a65a994641.jpg" />
    </div>
    <div class="medium-6 pull-6 columns">
      <h3>We are located at the heart of Riverside</h3>
      <div class="text">
        What do you expect, Mother? I'm half machine! I'm a monster!! No. I was ashamed to be _seen_ with you. I like being with you. I should be in this Poof. It seems like only yesterday you were bursting forth from your mother's fertile womb. What have we always said is the most important thing? ♪♪ It's The Final Countdown ♪♪ If I make this comeback, I'll buy you a hundred George Michaels that you can teach to drive!
      </div>
    </div>
  </div>

  <div class="feature-item odd row">
    <div class="medium-6 columns">
      <img class="image" src="http://farm3.staticflickr.com/2826/10308317904_f621d7ceb6.jpg" />
    </div>
    <div class="medium-6 columns">
      <h3>Nerds, UNITE!</h3>
      <div class="text">
        Sure, let the little fruit do it. HUZZAH! Taste the happy, Michael. Taste it. It tastes kind of like sad. Ah, it is a rock, though. Should beat everything. Gob: There's not a lot of logic to it. If you're suggesting I play favorites, you're wrong. I love all of my children equally. [earlier] I don't care for Gob. I've been in the film business for a while but I just can't seem to get one in the can. With spicy club sauce. WHY was this show cancelled? I mean, COME ON.
      </div>
    </div>
  </div>
</section>
