pageId: test
title: This is a provider test
permalink: :pageId/
layout: common-page.twig
skip: true
providers:
  events:
    provider: EventsCollection
---

<p>Hello world.</p>

{% for thing in this.providers.events %}
  <li>
    <h3>{{ thing.name }}</h3>
    <h6>{{ thing.ordinal }}</h6>
  </li>
{% endfor %}
