/* Header */
section.header {
	position:relative;

	h1 {
		pointer-events: none;
		left:0;
		top:40%;
		width:100%;
		z-index:5;
		position:absolute;
		padding-left:5%;
		padding-right:5%;

		@media #{$breakpoint-medium} {
			pointer-events:auto;
		}

		&.small-header {
			top:45%
		}
	}

	.upcoming {
		left:0;
		top:25%;
		width:100%;
		z-index:5;
		position:absolute;
		padding-left:5%;
		padding-right:5%;
		color:#fff;
		text-align:center;

		span.intro {
			text-transform: uppercase;
			font-size:20px;
			@media #{$breakpoint-medium} {
				font-size:25px;
			}
		}
		span.title {
			display:block;
			max-width:75%;
			font-family: "Montserrat","Helvetica","Arial";
			font-weight: normal;
			font-style: normal;
			font-size:20px;
			color: #fff;
			margin: 0 auto;
			text-rendering: optimizeLegibility;
			text-align:center;
			text-transform:uppercase;
			line-height:1.1;
			@media #{$breakpoint-medium} {
				max-width:65%;
				font-size:28px;
				white-space:pre-line;
				line-height:1.2;
			}
			@media #{$breakpoint-large} {
				font-size:43px;
			}
			@media #{$breakpoint-xlarge} {
				font-size:50px;
			}
			&.no-event {
				font-family: "Helvetica","Arial";
				font-weight: bold;
				margin-bottom: 0.3em;
			}
		}
		span.attribution {
			display:block;
			font-size:15px;
			font-style:italic;
			margin-bottom:1em;
			@media #{$breakpoint-medium} {
				font-size:18px;
			}
			@media #{$breakpoint-large} {
				font-size:20px
			}
		}

		.readmore{
			font-size:13px;
		}
	}
}

.bg-cover {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center bottom;
	width: 100%;
	height:100vh;
	min-height:450px;

	@media #{$breakpoint-medium} {
		min-height: 500px;
	}

	@media #{$breakpoint-large} {
		min-height: 650px;
	}
}

.header-bg {
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	width: 100%;
	height:200px;

	@media #{$breakpoint-medium} {
		height:300px;
	}

	@media #{$breakpoint-large} {
		height: 400px;
	}
}
