/* Navigation */
.top-bar {
	position:absolute;
	height:36px;
	left: 0;
	right: 0;
	top:1.25em;
	padding: 0 5%;
	margin-bottom:0;
	z-index:10;
	overflow:hidden;
	line-height:36px;
	background:rgba(255,255,255,0);

	@media #{$breakpoint-medium} {
		top: 1.875em;
		&:before, &:after {
			content: " ";
			display: table;
		}
	}

	@media #{$breakpoint-large} {
		top: 2.5em;
	}

	@media #{$breakpoint-large} {
		top:3.125em;
	}

	&.expanded {
		background:#171717;
		height:auto;
		padding-top:1.25em;
		top:0;

		.top-bar-section ul {
			margin-top:1.25em;
			margin-bottom:1.25em;

			li > a {
				color:#cacaca;
				line-height:1;

				&:active {
					border-bottom:3px solid #fff;
				}
			}
		}
	}

	.title-area {
		position:relative;
		margin:0;

		@media #{$breakpoint-medium} {
			float:left;
		}
	}

	ul {
		list-style:none;
	}

	.name {
		height:36px;
		margin:0;
	}

	.menu-icon {
		position:absolute;
		right:0;
		top:50%;
		margin-top:-16px;
		padding-left:40px;

		@media #{$breakpoint-medium} {
			display:none;
		}

		a {
			text-indent:-55px;
			width:34px;
			height:34px;
			line-height:33px;
			padding:0;
			color:#fff;
			text-transform:uppercase;
			font-size:0.875em;
			font-weight:bold;
			position:relative;
			display:block;
		}

		span {
			position:absolute;
			right:0;
			display:block;
			width:16px;
			height:0;
			-webkit-box-shadow: 0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff;
			box-shadow: 0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff;
		}
	}
}

#logo {
	width:113px;

	@media #{$breakpoint-medium} {
		width:123px;
	}

	@media #{$breakpoint-large} {
		width:133px;
	}

	@media #{$breakpoint-xlarge} {
		width:143px;
	}
}

.top-bar-section {
	position:relative;
	width:auto;
	left:0;
	-webkit-transition: left 300ms ease-out;
	-moz-transition: left 300ms ease-out;
	transition: left 300ms ease-out;

	@media #{$breakpoint-medium} {
		-webkit-transition: none 0 0;
		-moz-transition: none 0 0;
		transition: none 0 0;
	}

	ul {
		width:100%;
		height:auto;
		display:block;
		background:rgba(255,255,255,0);
		margin:0;
		float:right;

		@media #{$breakpoint-medium} {
			width:auto;
			display:inline;
		}

		li {
			@media #{$breakpoint-medium} {
				float:left;
				padding:0 0.6875em;
			}

			@media #{$breakpoint-large} {
				padding:0 1.25em;
			}

			@media #{$breakpoint-xlarge} {
				padding:0 1.5625em;
			}

			> a {
				padding-left:0;
				padding-right:0;
				height:36px;
				line-height:36px;
				text-transform:uppercase;
				display:block;
				width:100%;
				color:#fff;
				font-size:0.875em;
				font-weight:bold;
			}
		}
	}
}
