/* Variables */

/* Media Queries */
$break-medium: "768px";
$break-large: "1024px";
$break-xlarge: "1280px";
$break-megascreen: "1440px";

$breakpoint-medium: "only screen and (min-width : #{$break-medium})";
$breakpoint-large: "only screen and (min-width : #{$break-large})";
$breakpoint-xlarge: "only screen and (min-width : #{$break-xlarge})";
$breakpoint-megascreen: "only screen and (min-width : #{$break-megascreen})";
