{% extends "default.twig" %}

{% block content %}
	<section class="common">
		<div class="common-wrapper">
			{% block common_content %}
				{{ content }}
			{% endblock %}
		</div>
	</section>
{% endblock %}
