<section class="header bg-cover" style="background-image:url({{['', this.imagepath, this.featuredImage]|join(this.path_delimiter)}});">
  {% include 'navigation.twig'%}
  <h1>{{ this.title }}</h1>
  <div class="header-bg"></div>
</section>
