<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <a href="index.html" title="IE Drupal">
        <img id="logo" src="/media/images/druplicon.png" alt="IE Drupal" />
      </a>
    </li>
    <li class="toggle-topbar menu-icon"><a href="index.html#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul id="menu-navigation-menu" class="right">
      <li><a href="/events">Events</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/venue">Venue</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </section>
</nav>
